#### Q1. What are the three measures of central tendency?

* The Three Measures of Central tendency are:

    1. Mean - Average Value
    2. Median - Centeral Value
    3. Mode - No. of occurance or Frequency

#### Q2. What is the difference between the mean, median, and mode? How are they used to measure the central tendency of a dataset?

* Mean - It is a statictical function that is used to find the average value of the particular dataset.

Eg: Say we have the sales dataset of company yearwise, we need to calculate the average sales of a particular year of the dataset. Here Mean function is used to find the average value.
    
* Median - It is also statistical function that is used to find the central value or Mid value of a dataset.

Eg: In the same sales dataset, we need to find the exact central sales value, Here median is used.
    
* Mode - Again it is statistical function that is used to find the no. of occurance or Frequency in dataset.

Eg: In sales dataset, we can find the frequency of the sales or repeated value by using mode

#### Q3. Measure the three measures of central tendency for the given height data:

In [1]:
Height = [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [2]:
import numpy as np

In [3]:
np.mean(Height)

177.01875

In [4]:
np.median(Height)

177.0

In [5]:
import statistics as st

In [6]:
st.mode(Height)

178

#### Q4. Find the standard deviation for the given data:

In [7]:
np.std(Height)

1.7885814036548633

In [8]:
np.var(Height)

3.199023437500001

#### Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe the spread of a dataset? Provide an example

* Range is the simplest measure of dispersion, it is calculated by subtracting the smallest data point from the largest data point.

Eg: [1,2,3,4,5,6] (6-1) = 5
    
* Variance is also a measure of dispersion, it is calculated by the averaging the squared distance between the each data point and the mean

Eg:

In [19]:
a = [1,2,3,4,5,6]

variance = np.var(a)

print(variance)

2.9166666666666665

* Standard Deviation is an another measure of dispersion, it shows how much it has data is dispersed from the mean.

In [29]:
a = [1,2,3,4,5,6]

standard_deviation = np.std(a)

print(standard_deviation)

1.707825127659933

#### Q6. What is a Venn diagram?

Venn diagram is representation of showing the relationship between the sets. It also used to illustrate the logical relationships like Union, Intersection and difference.

#### Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:

In [32]:
a = {2,3,4,5,6,7}

b = {0,2,6,8,10}

Intersection = a.intersection(b)

Union = a.union(b)

print(Intersection)

print(Union)

{2, 6}
{0, 2, 3, 4, 5, 6, 7, 8, 10}

#### Q8. What do you understand about skewness in data?

Skewness in data means that, relationship of mean median mode that is used to find the skewness of a data.

If the mean, median, mode has the same values then it called a Symentrical Distribution, where there is No skewness.

If it is Positively skewed then the most number of data points lies in the right side of the data, where Mean is greater than Median and Mode.

If it is Negatively skewed then the most number of data points lies in the left side of the data, when mean is less than Median and Mode.

#### Q9. If a data is right skewed then what will be the position of median with respect to mean?

Right skewed is also called as Positively skewed. In this Median will be in the left of mean.

#### Q10. Explain the difference between covariance and correlation. How are these measures used in statistical analysis?

Covariance -  It is a directional realtionship between the two random variable. A positive covariance indicates that the two variable tend to move in a same direction. while Negative covariance indicated that the two variable move in the opposite direction.

Correlation - It measure the strength of the relationship between two random variable, In correlation the values will be ranging between [-1 to +1]. More value towards +1 the more positively correlated it is, More the value towards -1 the more negatively correlated it is.

#### Q11. What is the formula for calculating the sample mean? Provide an example calculation for a dataset.

Formula:
 `sample mean = (Î£ x i) / n`

sample_mean = (1+2+3+4+5)/5 = 15/5 = 3

#### Q12. For a normal distribution data what is the relationship between its measure of central tendency?

* For the Normal distribution data the mean, median and mode are equal. They have a symentrical distribution. They are located in the centre of the distribution.

#### Q13. How is covariance different from correlation?

`Covariance` is measure of directional relationship between the two random varaible, here one thing we can observe that we are able to find the relationship either it positive or negative. we cannot find the strength or it doesn't have the specific limit

`Correlation` is a measure of strength and directional relationship between the two random variables, Here we are dividing the covariance by standard deviation to find out the strength and directional relationship of the variable.

#### Q14. How do outliers affect measures of central tendency and dispersion? Provide an example

In [33]:
Records = {"Name":["Sanju", "Ravi", "Rahul", "Ajith", "Dinesh"], "Salary":[10000,20000,30000,40000,800000]}

In [35]:
import pandas as pd

df = pd.DataFrame(Records)

df

     Name  Salary
0   Sanju   10000
1    Ravi   20000
2   Rahul   30000
3   Ajith   40000
4  Dinesh  800000

In [37]:
df.describe()

              Salary
count       5.000000
mean   180000.000000
std    346770.817688
min     10000.000000
25%     20000.000000
50%     30000.000000
75%     40000.000000
max    800000.000000

* Here is the above example of an outlier in the data, As Dinesh salary is an outlier because his salary goes far outside of average salary in the group.

* This is how an outlier is identified. This also effects the central tendancy and Measure of dispersion of the data.

In [55]:
New_df = df.drop(4)

New_df.describe()

             Salary
count      4.000000
mean   25000.000000
std    12909.944487
min    10000.000000
25%    17500.000000
50%    25000.000000
75%    32500.000000
max    40000.000000

* In the above example, As we have droped the outlier in the data, now the central tendancy and dispertion of the data are stable. Now there is no hindrance.